In [2]:
#print range 0 to 20
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
#print range 10 to 20
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [16]:
# Print number of items in the list by using 'len'
List2= [10, 20, 14, 55, 43, 87, 76]
listLength = len(List2)
print(List2)
print("Number of item in the List2:\n",listLength)

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
 7

In [20]:
#print vertically
String = "ARTIFICIAL INTELLIGENCE"
print('\n'.join(String))

A
R
T
I
F
I
C
I
A
L

I
N
T
E
L
L
I
G
E
N
C
E

In [22]:
print("-Your Name-\n-Your Age-\n-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [23]:
# Creating a Tuple
# with Mixed Datatype
Tuple1 = (1, 'Welcome', 2, 'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [27]:
Tuple1 = (((0, 1, 2, 3), ('python', 'HOPE')))
print(Tuple1)

((0, 1, 2, 3), ('python', 'HOPE'))

In [29]:
# Creating a Tuple
# with nested tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [39]:
# print Odd Numbers in the list
List = (20,10,16,19,25,1,276,188)
print(List)
for num in List:
    if(num%2!=0):
        print(num,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [40]:
# print even Numbers in the list
List = (20,10,16,19,25,1,276,188)
print(List)
for num in List:
    if(num%2==0):
        print(num,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even